@import "./variables.scss";

$tablet: 768px;
$desktop: 1280px;
$laptop: 1024px;

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: #{$laptop}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

@mixin container {
	width: 100%;
	padding: 0 30px;
	margin: 50px auto;

	@include desktop {
		max-width: 1300px;
	}
}

@mixin iframe {
	border: none;
	aspect-ratio: 16 / 9;
}

@mixin link {
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $tertiary_light;
	}

	@include tablet {
		font-size: 20px;
	}
}

@mixin bigHeader {
	margin: 20px 0;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;

	@include tablet {
		font-size: 50px;
	}
}

@mixin smallHeader {
	margin: 0;
	font-size: 25px;
	font-weight: 700;

	@include tablet {
		font-size: 35px;
	}
}

@mixin smallText {
	font-size: 14px;

	@include tablet {
		font-size: 18px;
	}

	@include desktop {
		font-size: 20px;
	}
}
