@import "styles/main";

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;

	.header {
		color: rgb(98, 89, 235);
		margin: 0 50px;
		text-align: center;
		font-size: 100px;
		max-width: 1000px;

		@include tablet {
			font-size: 150px;
		}
	}

	.scroll {
		color: black;
		font-size: 20px;
	}
}
